body, html{
height: 100%;
}
body{
    display: flex;
    justify-content: center;
}

main{
background-color: yellowgreen;
width: 100%;
height: 100%;
max-width: 1200px;
}

.conteudo{
    background-color: magenta;
    display: flex;
    height: 100%;
    align-items: center;
}

.esquerda{
background-color: red;
flex: 50%;
height: 50%;
}

.direita{
background-color: blue;
flex: 50%;
height: 50%;
}

@media (max-width: 600px){
    .conteudo{
        flex-direction: column;}

        .direita,
        .esquerda{
            width: 100%;
        }
}
